# Django
SECRET_KEY=django-insecure-^88h91wsno7&^(geg9fq3u$3-pld*db8s%67rcyj59(=wxst4d
DEBUG=True
ALLOWED_HOSTS=localhost 127.0.0.1

# PostgreSQL
DB_NAME=avicole_db
DB_USER=admin
DB_PASSWORD=system2026*
DB_HOST=localhost
DB_PORT=5432
