# Django
SECRET_KEY=django-insecure-^88h91wsno7&^(geg9fq3u$3-pld*db8s%67rcyj59(=wxst4d
DEBUG=False
ALLOWED_HOSTS=www.tayseerdz.com tayseerdz.com localhost 127.0.0.1

# MySQL (cPanel)
DB_NAME=rrcacvmg_avicole_db
DB_USER=rrcacvmg_admin
DB_PASSWORD=system2026*
DB_HOST=localhost
DB_PORT=3306
